@model IEnumerable<RentaCarEntities.Vehicle>
<link href="~/Content/style.css" rel="stylesheet" />

<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            
            <th>@Html.DisplayNameFor(a => a.First()._branchName)</th>
            <th>@Html.DisplayNameFor(a => a.First().Model)</th>
            <th>@Html.DisplayNameFor(a => a.First().FuelType)</th>
            <th>@Html.DisplayNameFor(a => a.First()._brandName)</th>
            <th>@Html.DisplayNameFor(a=> a.First().PricePerDay)</th>
            <th>@Html.Label("Rezervasyon")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item._branchName</td>
                <td>@item.Model</td>
                <td>@item.FuelType</td>
                <td>@item._brandName</td>
                <td>@item.PricePerDay</td>
                <td>@Html.ActionLink("Rezervasyon yap", "Rezervasyon", 
                new { @class = "btn btn-xs btn-success" })</td>
            </tr>
        }
    </tbody>
    

</table>


@*<button type="button" class="btn btn-xs btn-success" value="rezervasyon">Rezervasyon yap</button>*@

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}