@model RentaCarEntities.Event

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="http://resources/demos/style.css">
<script>
    $(function () {
        $("#datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>
<script>
    $(function () {
        $("#datepicker1").datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>

@using (Html.BeginForm("CreateEvent", "Event", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        

        @*<div class="editor-label">
            @Html.LabelFor(model => model.MemberId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberId)
            @Html.ValidationMessageFor(model => model.MemberId)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.VehicleId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VehicleId)
            @Html.ValidationMessageFor(model => model.VehicleId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate, new {Id="datepicker" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field"id="datepicker">
            @Html.TextBoxFor(model => model.EndDate, new { id = "datepicker1" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.IsDeleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsDeleted)
            @Html.ValidationMessageFor(model => model.IsDeleted)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Version)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Version)
            @Html.ValidationMessageFor(model => model.Version)
        </div>*@

        <p>
            <input type="submit" value="Onayla" />
        </p>
        @ViewBag.Result;
    </fieldset>
}



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

