@model RentaCarEntities.Event

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}




@using (Html.BeginForm("CreateEvent","Event",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <p>
            <input type="submit" value="Onayla" />
        </p>
    </fieldset>
}
@using (Ajax.BeginForm("Fitre", "Event", new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "filtre",
    OnFailure = "alert('hata meydana geldi');"

}))
{

    <input type="text" id="searchText" name="searchText" />
    <br />
    <input type="submit" value="Filtrele" />


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@
@*<script src="~/Scripts/jquery-ui-1.8.24.js"></script>*@
<script src="~/Scripts/myscripts.js"></script>
}
