@model RentaCar.Models.VehicleModel

@{
    ViewBag.Title = "Rezervasyon";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Rezervasyon</h2>

@using (Html.BeginForm("RezervasyonYap","Event",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Rezervasyon için Tarih Seçiniz</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Events.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Events.StartDate)
            @Html.ValidationMessageFor(model => model.Events.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Events.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Events.EndDate)
            @Html.ValidationMessageFor(model => model.Events.EndDate)
        </div>
        @Html.Hidden("Id", Model.Vehicles.Id)
        <p>
            <input type="submit" value="Rezervasyon Yap" />
        </p>
    </fieldset>
}
@ViewBag.Hata
<div>
    @Html.ActionLink("Üye Sayfasına Dön", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
