@model RentaCarEntities.Vehicle

@{
    ViewBag.Title = "CreateVehicle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CreateVehicle</h2>

@using (Html.BeginForm("CreateVehicle","Admin",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Araç Ekle</legend>


       

        <div class="editor-label">
            @Html.LabelFor(model => model.Plate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Plate)
            @Html.ValidationMessageFor(model => model.Plate)
        </div>

     

        <div class="editor-label">
            @Html.LabelFor(model => model.Model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Model)
            @Html.ValidationMessageFor(model => model.Model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FuelType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FuelType)
            @Html.ValidationMessageFor(model => model.FuelType)
        </div>

       

        <div class="editor-label">
            @Html.LabelFor(model => model.PricePerDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PricePerDay)
            @Html.ValidationMessageFor(model => model.PricePerDay)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BranchId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m=>m.BranchId,(ViewData["Branchs"] as IEnumerable<SelectListItem>),"Lütfen seçim yapınız...")
            @Html.ValidationMessageFor(model => model.BranchId)

        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BrandId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.BrandId, (ViewData["Brands"] as IEnumerable<SelectListItem>), "Lütfen seçim yapınız...")
            @Html.ValidationMessageFor(model => model.BrandId)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsRezerved)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsRezerved)
            @Html.ValidationMessageFor(model => model.IsRezerved)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
   <h2>@ViewBag.Result</h2> 
}

<div>
    @Html.ActionLink("GeriDön", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
