@model RentaCarEntities.Brand

@{
    ViewBag.Title = "GetCreateBrand";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>GetCreateBrand</h2>

@using (Html.BeginForm("CreateBrand","Admin",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
     
        

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Ekle" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Geri Dön", "GetBrand")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
