@model RentaCarEntities.Member

@{
    ViewBag.Title = "GetEditMember";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>GetEditMember</h2>

@using (Html.BeginForm("EditMember","Admin",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.IsDeleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsDeleted)
            @Html.ValidationMessageFor(model => model.IsDeleted)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NameSurName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NameSurName)
            @Html.ValidationMessageFor(model => model.NameSurName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <p>
            <input type="submit" value="Güncelle" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Geri Dön", "GetMember")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
