@model IEnumerable<RentaCarEntities.Member>

@{
    ViewBag.Title = "GetMember";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<
<p>
    @Html.ActionLink("Yeni Kullanıcı ekle", "GetCreateMember")
</p>
<link href="~/Content/style.css" rel="stylesheet" />

<table id="myTable" class="tablesorter">
    <thead>
        <tr>

            <th>@Html.DisplayNameFor(a => a.First().NameSurName)</th>
            <th>@Html.DisplayNameFor(a => a.First().Password)</th>
            <th>@Html.DisplayNameFor(a => a.First().Type)</th>
            <th>@Html.DisplayNameFor(a => a.First().Version)</th>
            <th>@Html.DisplayNameFor(a => a.First().Email)</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.NameSurName</td>
                <td>@item.Password</td>
                <td>@item.Type</td>
                <td>@item.Version</td>
                <td>@item.Email</td>
                
                <td>
                    @Html.ActionLink("Düzenle", "GetEditMember", new { id = item.Id })

                    @Html.ActionLink("Sil", "DeleteMember", new { id = item.Id })
                </td>
            </tr>


        }
    </tbody>


</table>
