@model IEnumerable<RentaCarEntities.Vehicle>

@{
    ViewBag.Title = "GetVehicle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>GetVehicle</h2>

<p>
    @Html.ActionLink("Yeni araç ekle", "GetCreateVehicle")
</p>
<link href="~/Content/style.css" rel="stylesheet" />

<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            
            <th>@Html.DisplayNameFor(a => a.First()._branchName)</th>
            <th>@Html.DisplayNameFor(a => a.First().Model)</th>
            <th>@Html.DisplayNameFor(a => a.First().FuelType)</th>
            <th>@Html.DisplayNameFor(a => a.First()._brandName)</th>
            <th>@Html.DisplayNameFor(a => a.First().PricePerDay)</th>
            <th>@Html.DisplayNameFor(a=> a.First().Plate)</th>
            <th>@Html.DisplayNameFor(a=> a.First().IsRezerved)</th>
            <th>@Html.DisplayNameFor(a=> a.First().Version)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
{
    <tr>
        
        <td>@item._branchName</td>
        <td>@item.Model</td>
        <td>@item.FuelType</td>
        <td>@item._brandName</td>
        <td>@item.PricePerDay</td>
        <td>@item.Plate</td>
        <td>@item.IsRezerved</td>
        <td>@item.Version</td>
        <td>
            @Html.ActionLink("Düzenle", "GetEditVehicle", new { id = item.Id }) 

            @Html.ActionLink("Sil", "DeleteVehicle", new { id = item.Id })
        </td>
    </tr>
                    
        
}
    </tbody>


</table>
        



