
<!DOCTYPE html>
<html>
<link href="~/Content/footer.css" rel="stylesheet" />
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Rent a Car</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Hakkımızda", "Aboutus", "Home")</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Olaylar <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a</li>
                            <li>@Html.ActionLink("Oto Kirala", "RentaVehicle", "Event")</li>
                            <li>@Html.ActionLink("Şubelerimiz", "Index", "Branch")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Giriş Yap", "Login", "Login")</li>
                    <li>@Html.ActionLink("Kayıt ol", "Index", "Member")</li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>

    </div>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
   @RenderSection("scripts", required: false)
    <div id="footer">
        <div class="container">
            <p class="text-muted credit">Goktug Dulkan .</p>
        </div>
    </div>

</body>


</html>


@*@Html.Raw(
       new Options
       {
           PageSize = Model.PageSize,
           TotalItemCount = Model.TotalItemCount,
           CurrentPage = Model.PageNumber,
           ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "P" },
           ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
           TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Go to page {0}.", First = "Go To First Page", Last = "Go To Last Page" },
           Size = Size.normal,
           Alignment = Alignment.centered,
           IsShowControls = true,
           IsShowFirstLast = true
       },
       new AjaxOptions
       {
           UpdateTargetId = "grid-list",
           OnBegin = "beginPaging",
           OnSuccess = "successPaging",
           OnFailure = "failurePaging"
       }, new { controller = "Home", action = "Index", employee_name = ViewData["employee_name"] }))*@